In [5]:
import pandas as pd

In [6]:
weather = pd.read_csv('weather_underground.csv')

In [7]:
weather.head()

,date,maxpressurem,maxdewptm,maxpressurei,maxdewpti,since1julheatingdegreedaysnormal,heatingdegreedaysnormal,since1sepcoolingdegreedaysnormal,hail,since1julsnowfallm,...,precipi,snowfalli,since1jancoolingdegreedaysnormal,precipm,snowfallm,thunder,monthtodateheatingdegreedays,meantempi,maxvism,meantempm
0,2011-05-01,1026,6,30.31,42,4646,8,NaN,0,157.23,...,0.0,0,13,0.0,0,0,5,60,16,16
1,2011-05-02,1026,10,30.31,50,4653,7,NaN,0,157.23,...,0.0,0,14,0.0,0,0,13,57,16,14
2,2011-05-03,1021,15,30.14,59,4660,7,NaN,0,157.23,...,0.0,0,15,0.0,0,0,13,65,16,18
3,2011-05-04,1017,14,30.03,57,4667,7,NaN,0,157.23,...,0.5,0,16,12.7,0,0,23,55,16,13
4,2011-05-05,1016,4,30.01,39,4673,6,NaN,0,157.23,...,0.0,0,17,0.0,0,0,32,56,16,13

In [4]:
weather.columns

Index([u'date', u'maxpressurem', u'maxdewptm', u'maxpressurei', u'maxdewpti', u'since1julheatingdegreedaysnormal', u'heatingdegreedaysnormal', u'since1sepcoolingdegreedaysnormal', u'hail', u'since1julsnowfallm', u'since1julheatingdegreedays', u'maxvisi', u'since1sepheatingdegreedaysnormal', u'heatingdegreedays', u'mindewptm', u'since1sepheatingdegreedays', u'maxwspdm', u'since1julsnowfalli', u'since1sepcoolingdegreedays', u'snow', u'meanvism', u'meandewptm', u'snowdepthm', u'meanvisi', u'fog', u'snowdepthi', u'minvism', u'since1jancoolingdegreedays', u'minvisi', u'coolingdegreedaysnormal', u'gdegreedays', u'maxwspdi', u'meanwindspdi', u'meanpressurei', u'monthtodateheatingdegreedaysnormal', u'meanwindspdm', u'meanpressurem', u'tornado', u'mindewpti', u'mintempi', u'meandewpti', u'rain', u'mintempm', u'minhumidity', u'precipsource', u'minwspdi', u'meanwdird', u'meanwdire', u'minwspdm', u'monthtodatesnowfalli', u'monthtodatecoolingdegreedaysnormal', u'monthtodatesnowfallm', u'maxhumidity', u'coolingdegreedays', u'maxtempm', u'minpressurei', u'monthtodatecoolingdegreedays', u'maxtempi', u'minpressurem', u'humidity', u'precipi', u'snowfalli', u'since1jancoolingdegreedaysnormal', u'precipm', u'snowfallm', u'thunder', u'monthtodateheatingdegreedays', u'meantempi', u'maxvism', u'meantempm'], dtype='object')

In [8]:
weather['rain']

0     0
1     0
2     0
3     1
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    1
15    1
16    1
17    1
18    1
19    1
20    1
21    0
22    1
23    0
24    0
25    0
26    0
27    0
28    0
29    1
Name: rain, dtype: int64

In [10]:
import pandasql